$base-gold-color: #D4A124;
$base-blue-color: #283891; 
$base-text-bg-color: snow;
$base-text-color: #444444;
//https://colorscheme.ru/#3T31TqxqBw0w0

$base-sans-serif-font: 'PT Sans', sans-serif;
$base-serif-font: 'PT Serif', serif;
$base-monotype-font: 'PT Mono', monospace;
$base-sans-serif-caption-font: 'PT Sans Caption', sans-serif;
$base-serif-caption-font: 'PT Serif Caption', serif;