@import './base.scss';

body {
    color: $base-text-color;
    background-color: $base-text-bg-color;
    font-family: $base-sans-serif-font;
}

.u8-navbar {
    background-color: $base-gold-color;
}

.u8-navbar-btn {
    color: $base-gold-color;
    background-color: $base-blue-color;
}

.auth-form {
    padding: 5rem 10rem 0 10rem;

    button {
        background-color: $base-blue-color;
        color: $base-gold-color;
    }
}