$base-gold-color: #d7c76e;
$base-blue-color: #283891; 
$base-text-bg-color: gray;
$base-text-color: black;

body {
    color: $base-text-color;
    background-color: $base-text-bg-color;
}

.u8-navbar {
    /* background-color: #FDEAA8; */
    background-color: $base-gold-color;
}

.u8-navbar-btn {
    color: $base-gold-color;
    background-color: $base-blue-color;
}

.auth-form {
    // margin-top: 5rem;
    // padding-left: 10rem;
    // padding-right: 10rem;
    padding: 5rem 10rem 0 10rem;

    button {
        background-color: $base-blue-color;
        color: $base-gold-color;
    }
}