<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Страница статьи</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light u8-navbar">
        <a class="navbar-brand" href="#">
            <img src="./img/logo.png" height="60" class="d-inline-block align-top" alt="logo">
        </a>
        <div class="text-right w-100 d-none" id="u8-bars"><i class="fas fa-bars fa-2x"></i></div>
    </nav>
    <div class="sidebar-sticky h-100" id="u8-sidebar">
        <ul class="u8-menu">
            <li class="u8-menu-item text-right u8-close-sidebar"><i class="fas fa-times"></i></li>
            <li class="u8-menu-item">Главная</li>
            <li class="u8-menu-item">Категории</li>
            <li class="u8-menu-item">Роли</li>
            <li class="u8-menu-item">Типы статей</li>
            <li class="u8-menu-item">Администрирование</li>
        </ul>
    </div>
    <div class="container-fluid h-100">
        <div class="row">
            kvclkflknfdswlkfcnmsfdvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>