<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница логина</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light u8-navbar">
    <a class="navbar-brand" href="#">
        <img src="./img/logo.png" height="60" class="d-inline-block align-top" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск">
            <button class="btn u8-navbar-btn my-2 my-sm-0" type="submit">Поиск</button>
        </form>
        
        <ul class="navbar-nav flex-row mr-lg-0">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-3 mr-lg-0" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="./img/no-photo.png" class="border border-primary rounded-circle" alt="photo">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="">User</a>
                    <a class="dropdown-item" href="">Login</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
    <div class="container">
        <form class="auth-form">
            <div class="form-group">
              <label for="inputLogin">Логин</label>
              <input type="email" class="form-control" id="inputLogin"  placeholder="Введите логин">
            </div>
            <div class="form-group">
              <label for="inputPassword">Пароль</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Пароль">
            </div>
            <button type="submit" class="btn btn-primary">Авторизация</button>
          </form>
    </div>
</body>
</html>
