<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница логина</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light u8-navbar">
    <a class="navbar-brand" href="#">
        <img src="./img/logo.png" height="60" class="d-inline-block align-top" alt="logo">
    </a>
    

    
</nav>
    <div class="container">
        <form class="auth-form">
            <div class="form-group">
              <label for="inputLogin">Логин</label>
              <input type="email" class="form-control" id="inputLogin"  placeholder="Введите логин">
            </div>
            <div class="form-group">
              <label for="inputPassword">Пароль</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Пароль">
            </div>
            <button type="submit" class="btn btn-primary">Авторизация</button>
          </form>
    </div>
</body>
</html>
