@import './base.scss';

#root {
    height: 100%;
}

.u8-navbar {
    background-color: $base-gold-color;
    color: $base-blue-color;
    text-align: center;
}

.u8-navbar-btn {
    color: $base-gold-color;
    background-color: $base-blue-color;
}

.u8-navbar-title {
    padding-left: 2rem;
}

.u8-footer {
    text-align: center;
    background-color: $base-text-color;
    color: $base-gold-color;
}